extends layout

block titleblock
  //div(style="width: 100%;height: 500px; display:block; background-color: blue")
  a(href='/pages' style="color: black;")
    img(src='/images/SGNLogoAlpha.png' alt='ICON IMG' style="display:inline-block; content-top: 5px; border-bottom: 5px; margin:50px 0px 20px 20px;width: 120px;height: auto;")
    h6(style="display:inline-block; color: black;")= title

block content
    h3 Disclaimer. This disclaimer refers to the web services of Top Ball and its creators, partners and users, we are not liable should the user fail to read and understand the disclaimer
    br
    br
    
    h4 Users are required to read the entirety of this before using our services, we are not responsible for any misunderstanding from this disclaimer and the persons/service it refers to
    br

    p.
        You are using our services at your own risk, we do not guarantee that this web service will not be disrupted starting from the creation of this web service to its termination.
        
        This website is a source of social commentary and is not affliated with any company other than Top Ball, a unregistered company based in Singapore.
        
        We strongly encourage that you do not use sensitive data when filling the fields of this web service.
        
        We do not sell your personalized data (e.g. name/emails/password) keyed in by you to advertisers and all ads are indiscriminate.
        
        Your data is kept sorely for the purpose of this application/webpage and analytics(such as web traffic monitoring) associated with this website and its partners, and will be kept anonymous.
        
        Neither are we responsible for any loss of data through the following non-exhaustive means (e.g. blackhat hackers, accounts deleted by moderators, sudden shutdown of website with no discretion or warning, database wiped out).
        
        Hence all associated with Samuel, the creator of this webpage/application and Top Ball will not be held liable to any information leaked.
        
        All information, content and intentions in/of this webpage/application/service are purely informational or inspired. Samuel, the creator of this webpage/application and Top Ball are not liable for any actions taken -
        should they have any relation to this service, how users interpret and take in the information are out of our control and jurisdiction.

    br
    h5 Last modified: 2nd April 2020 by Samuel, Top Ball
    h5 If you have any enquiries or would like to take down content from the webpages, please contact us at topballSG@outlook.com
    br