extends layout

block titleblock
  //div(style="width: 100%;height: 500px; display:block; background-color: blue")
  a(href='/pages' style="color: black;")
    img(src='/images/SGNLogoAlpha.png' alt='ICON IMG' style="display:inline-block; content-top: 5px; border-bottom: 5px; margin:50px 0px 20px 20px;width: 120px;height: auto;")
    h6(style="display:inline-block; color: black;")= title

block content
  h1.text-center= title
  
  include ./errormsg.pug
  <div id="postingErr"></div>
  div.container.card.card-body
    form(action="" method="POST")
      label.text-muted(for='username') Username:
      input#usersignupid.form-control(name='username' placeholder='your username here' type='text' required='true')
      label.text-muted.mt-2(for='password') Password:
      input#usersignuppass.form-control(name='password' type='password' required='true')
      label.text-muted.mt-2(for='passwordcfm') Confirm Password:
      input#usersignuppasscfm.form-control(name='passwordcfm' type='password' required='true')
      label.text-muted.mt-2(for='email') Email:
      input#usersignupemail.form-control(name='email' type='text')
      label.text-muted.mt-2(for='firstname') First Name:
      input#usersignupfname.form-control(name='firstname' placeholder='Joey' type='text')
      label.text-muted.mt-2(for='lastname') Last Name:
      input#usersignuplname.form-control(name='lastname' placeholder='Doe Atkins' type='text')
      label.text-muted.mt-2(for='dateofbirth') Date Of Birth:
      input#usersignupDOB.form-control(name='dateofbirth' placeholder=new Date() type='date')
      label.text-muted.mt-2(for='optionalpost') Optional First Post:
      input#usersignupOP.form-control(style='white-space: wrap;' name='optionalpost' placeholder='My first post introduction' type='text')
      button.btn.btn-info.btn-block.mt-3(type='submit') Register
  
  script.
    $(document).ready(function() {
      let content = `
      <div class="alert alert-warning alert-dismissable fade show" role="alert">
        <span>WARNING: Please use passwords and details that are not sensitive in nature, please read disclaimer below for more info</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times</span>
        </button>
      </div>
      <div class="alert alert-warning alert-dismissable fade show" role="alert">
        <span>Important! We do not use your accounts to collect or sell any data. They are meant for commenting to share thoughts on posts!</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times</span>
        </button>
      </div>`
      $(`#postingErr`).html(content)
    });